<footer class="footer">
    <div class="container">
        <div class="footer__content">
            <div class="footer__nav">
                <div class="footer__nav-col">
                    <ul>
                        <li><a href="#">О нас</a></li>
                        <li><a href="#">Тарифы</a></li>
                        <li><a href="#">Для бизнеса</a></li>
                        <li><a href="#">Психологам</a></li>
                    </ul>
                </div>
                <div class="footer__nav-col">
                    <ul>
                        <li><a href="#">Сертификат</a></li>
                        <li><a href="#">Блог</a></li>
                        <li><a href="#">Магазин</a></li>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Контакты</a></li>
                    </ul>
                </div>
                <div class="footer__nav-col">
                    <ul>
                        <li><a href="#">Вебинары</a></li>
                        <li><a href="#">Подкаст</a></li>
                        <li><a href="#">Мероприятия</a></li>
                    </ul>
                </div>
            </div>

            <div class="footer__subscribe">
                <p class="footer__subscribe-text">Одно письмо в неделю со свежими новостями и акциями</p>
                <form class="footer__form" action="#" method="post">
                    <input type="email" class="footer__input" placeholder="Ваш e-mail" aria-label="Email для подписки">
                    <button type="submit" class="footer__submit" aria-label="Подписаться">→</button>
                </form>
                <p class="footer__agreement">
                    Подписываясь, я соглашаюсь на обработку персональных данных в соответствии с ФЗ РФ № 152-ФЗ «О персональных данных», а также с политикой конфиденциальности
                </p>
            </div>

            <div class="footer__contacts">
                <div class="footer__socials">
                    <a href="#" class="social-link" aria-label="VK">
                        <img src="images/svg/vk.svg" alt="VK">
                    </a>
                    <a href="#" class="social-link" aria-label="TG">
                        <img src="images/svg/tg.svg" alt="TG">
                    </a>
                    <a href="#" class="social-link" aria-label="Twitter">
                        <img src="images/svg/twitter.svg" alt="Twitter">
                    </a>
                    <a href="#" class="social-link" aria-label="HZ">
                        <img src="images/svg/hz.svg" alt="HZ">
                    </a>
                </div>
                <p class="footer__copy">© Youtalk, 2021</p>
            </div>
        </div>
    </div>
</footer>